#sessions_new {

  .login {
    &-grid {
      margin: 50px auto;
      text-align: center;
    }

    &-paper {
      padding: 2% 0;
    }

    &-links {

    }
  }
}

.dashboard {
  &-paper, &-typography {
    padding: 2%;
  }
}

.table {
  &-title {
    padding: 20px 3%;
  }

  &-actions {
    display: flex;
    justify-content: center;
    padding: 2%;

    a {
      margin: 0 20px;
    }
  }
}

.sidebar {
  &-head {
    height: 64px;
  }

  &-title {
    flex: 1
  }

  &-backtomain {
    color: inherit;
  }
}

.hidden {
  display: none !important;
}